workflows/0OYl0Ctjn2EVYnUDvLUEY.json
{
  "id": "0OYl0Ctjn2EVYnUDvLUEY",
  "name": "Archive empty pages in Notion database 3",
  "nodes": [
    {
      "parameters": {
        "resource": "database",
        "operation": "getAll",
        "returnAll": true
      },
      "name": "Get All Databases",
      "type": "n8n-nodes-base.notion",
      "position": [
        528,
        240
      ],
      "typeVersion": 2,
      "id": "d7af4f16-be08-415d-b692-a656b9e2b425"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": "={{$json[\"id\"]}}",
        "returnAll": true,
        "simple": false,
        "options": {}
      },
      "name": "Get All Database Pages",
      "type": "n8n-nodes-base.notion",
      "position": [
        720,
        240
      ],
      "typeVersion": 2,
      "id": "ef748047-4bb5-4c2f-a9c9-e200b9cb7732"
    },
    {
      "parameters": {
        "resource": "block",
        "operation": "getAll",
        "blockId": "={{$json[\"id\"]}}",
        "returnAll": true
      },
      "name": "Get Page Blocks",
      "type": "n8n-nodes-base.notion",
      "position": [
        1472,
        224
      ],
      "typeVersion": 2,
      "alwaysOutputData": true,
      "id": "41b521f6-85cb-46a2-a7c0-985db581b5a2"
    },
    {
      "parameters": {
        "functionCode": "let returnData = {\n  json: {\n    toDelete: false,\n    pageID: $node[\"SplitInBatches\"].json[\"id\"],\n  }\n};\n\nif (!items[0].json.id) {\n  returnData.json.toDelete = true;\n  return [returnData];\n}\n\nfor (item of items) {\n  \n  let toDelete = false;\n\n  let type = item.json.type;\n  let data = item.json[type];\n\n  if (!toDelete) {\n    if (data.text.length == 0) {\n      toDelete = true;\n    } else {\n      returnData.json.toDelete = false;\n      break;\n    }\n  }\n\n  returnData.json.toDelete = toDelete;\n}\n\nreturn [returnData];"
      },
      "name": "Process Blocks",
      "type": "n8n-nodes-base.function",
      "position": [
        1648,
        224
      ],
      "typeVersion": 1,
      "id": "37a6bc82-cf6f-4207-a927-875c5897f6b4"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1296,
        224
      ],
      "typeVersion": 1,
      "id": "1b1816c8-c1c4-42cb-a6a6-ea4770218413"
    },
    {
      "parameters": {
        "functionCode": "for (item of items) {\n\n  let toDelete = false;\n  for (const key in item.json.properties) {\n    let type = item.json.properties[key].type;\n    let data = item.json.properties[key][type];\n    \n    if (!data || data.length == 0) {\n      toDelete = true;\n    } else {\n      toDelete = false;\n      break;\n    }\n  }\n\n  item.json.toDelete = toDelete;\n}\n\nreturn items;"
      },
      "name": "Check for empty properties",
      "type": "n8n-nodes-base.function",
      "position": [
        896,
        240
      ],
      "typeVersion": 1,
      "id": "9765a3b0-ffe5-4006-8806-2d3306713778"
    },
    {
      "parameters": {
        "operation": "archive",
        "pageId": "={{$json[\"pageID\"]}}"
      },
      "name": "Archive Page",
      "type": "n8n-nodes-base.notion",
      "position": [
        2048,
        208
      ],
      "typeVersion": 2,
      "id": "7f28b6f9-ca01-4035-aca3-c24433c9d4e4"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"toDelete\"]}}",
              "value2": true
            }
          ]
        }
      },
      "name": "If toDelete",
      "type": "n8n-nodes-base.if",
      "position": [
        1856,
        224
      ],
      "typeVersion": 1,
      "id": "816cfabe-5495-4c6a-bbc1-ab6f0d6aa4af"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"toDelete\"]}}",
              "value2": true
            }
          ]
        }
      },
      "name": "If Empty Properties",
      "type": "n8n-nodes-base.if",
      "position": [
        1056,
        240
      ],
      "typeVersion": 1,
      "id": "951afeca-4a49-485f-8da0-7ed5eb799ba7"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 2
            }
          ]
        }
      },
      "name": "Every day @ 2am",
      "type": "n8n-nodes-base.cron",
      "position": [
        368,
        240
      ],
      "typeVersion": 1,
      "id": "d52a1e97-ee43-4ef3-9392-f368501a6ef9"
    }
  ],
  "connections": {
    "If toDelete": {
      "main": [
        [
          {
            "node": "Archive Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Blocks": {
      "main": [
        [
          {
            "node": "If toDelete",
            "type": "main",
            "index": 0
          },
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "Get Page Blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every day @ 2am": {
      "main": [
        [
          {
            "node": "Get All Databases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Page Blocks": {
      "main": [
        [
          {
            "node": "Process Blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Databases": {
      "main": [
        [
          {
            "node": "Get All Database Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Empty Properties": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Database Pages": {
      "main": [
        [
          {
            "node": "Check for empty properties",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for empty properties": {
      "main": [
        [
          {
            "node": "If Empty Properties",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "triggerCount": 0,
  "versionId": "a23ee8af-af60-4e9b-96e8-d797cd7206f2",
  "owner": {
    "type": "personal",
    "projectId": "4KJl0T0erg4DwK70",
    "projectName": "Milorad Filipovic <milorad.filipovic19@gmail.com>",
    "personalEmail": "milorad.filipovic19@gmail.com"
  },
  "parentFolderId": null,
  "isArchived": true
}