workflows/9c__sau9v-3TvGGrC6-81.json
{
  "id": "9c__sau9v-3TvGGrC6-81",
  "name": "Archive empty pages in Notion database 4",
  "nodes": [
    {
      "parameters": {
        "resource": "database",
        "operation": "getAll",
        "returnAll": true
      },
      "name": "Get All Databases",
      "type": "n8n-nodes-base.notion",
      "position": [
        528,
        240
      ],
      "typeVersion": 2,
      "id": "fa6087f5-2259-4b20-a85d-2a5151f811c8"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": "={{$json[\"id\"]}}",
        "returnAll": true,
        "simple": false,
        "options": {}
      },
      "name": "Get All Database Pages",
      "type": "n8n-nodes-base.notion",
      "position": [
        720,
        240
      ],
      "typeVersion": 2,
      "id": "159d832a-e943-40c1-9ec2-6163b2c1c632"
    },
    {
      "parameters": {
        "resource": "block",
        "operation": "getAll",
        "blockId": "={{$json[\"id\"]}}",
        "returnAll": true
      },
      "name": "Get Page Blocks",
      "type": "n8n-nodes-base.notion",
      "position": [
        1472,
        224
      ],
      "typeVersion": 2,
      "alwaysOutputData": true,
      "id": "2352ab98-9f92-4a1d-ac77-f729abf0a8c7"
    },
    {
      "parameters": {
        "functionCode": "let returnData = {\n  json: {\n    toDelete: false,\n    pageID: $node[\"SplitInBatches\"].json[\"id\"],\n  }\n};\n\nif (!items[0].json.id) {\n  returnData.json.toDelete = true;\n  return [returnData];\n}\n\nfor (item of items) {\n  \n  let toDelete = false;\n\n  let type = item.json.type;\n  let data = item.json[type];\n\n  if (!toDelete) {\n    if (data.text.length == 0) {\n      toDelete = true;\n    } else {\n      returnData.json.toDelete = false;\n      break;\n    }\n  }\n\n  returnData.json.toDelete = toDelete;\n}\n\nreturn [returnData];"
      },
      "name": "Process Blocks",
      "type": "n8n-nodes-base.function",
      "position": [
        1648,
        224
      ],
      "typeVersion": 1,
      "id": "0061a7f4-86c7-4efc-8eec-4ac36f1e5cf6"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1296,
        224
      ],
      "typeVersion": 1,
      "id": "a8e2165b-c870-4d02-9eca-1fe030b4094b"
    },
    {
      "parameters": {
        "functionCode": "for (item of items) {\n\n  let toDelete = false;\n  for (const key in item.json.properties) {\n    let type = item.json.properties[key].type;\n    let data = item.json.properties[key][type];\n    \n    if (!data || data.length == 0) {\n      toDelete = true;\n    } else {\n      toDelete = false;\n      break;\n    }\n  }\n\n  item.json.toDelete = toDelete;\n}\n\nreturn items;"
      },
      "name": "Check for empty properties",
      "type": "n8n-nodes-base.function",
      "position": [
        896,
        240
      ],
      "typeVersion": 1,
      "id": "d32e16a8-ec82-4636-89ba-08aba2a9b9eb"
    },
    {
      "parameters": {
        "operation": "archive",
        "pageId": "={{$json[\"pageID\"]}}"
      },
      "name": "Archive Page",
      "type": "n8n-nodes-base.notion",
      "position": [
        2048,
        208
      ],
      "typeVersion": 2,
      "id": "700dab6d-2d61-4798-a90a-c5396d46f710"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"toDelete\"]}}",
              "value2": true
            }
          ]
        }
      },
      "name": "If toDelete",
      "type": "n8n-nodes-base.if",
      "position": [
        1856,
        224
      ],
      "typeVersion": 1,
      "id": "15d9e4e3-54c0-41ab-bc37-12a7d842fe10"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"toDelete\"]}}",
              "value2": true
            }
          ]
        }
      },
      "name": "If Empty Properties",
      "type": "n8n-nodes-base.if",
      "position": [
        1056,
        240
      ],
      "typeVersion": 1,
      "id": "50017028-d935-41a8-b42d-834da8ce66eb"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 2
            }
          ]
        }
      },
      "name": "Every day @ 2am",
      "type": "n8n-nodes-base.cron",
      "position": [
        368,
        240
      ],
      "typeVersion": 1,
      "id": "16dba670-ef86-4606-8df4-a8380fb7dc4a"
    }
  ],
  "connections": {
    "If toDelete": {
      "main": [
        [
          {
            "node": "Archive Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Blocks": {
      "main": [
        [
          {
            "node": "If toDelete",
            "type": "main",
            "index": 0
          },
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "Get Page Blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every day @ 2am": {
      "main": [
        [
          {
            "node": "Get All Databases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Page Blocks": {
      "main": [
        [
          {
            "node": "Process Blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Databases": {
      "main": [
        [
          {
            "node": "Get All Database Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Empty Properties": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Database Pages": {
      "main": [
        [
          {
            "node": "Check for empty properties",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for empty properties": {
      "main": [
        [
          {
            "node": "If Empty Properties",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "triggerCount": 0,
  "versionId": "e3ad0c12-5f24-41c6-90ea-0c9d5be8609e",
  "owner": {
    "type": "personal",
    "projectId": "4KJl0T0erg4DwK70",
    "projectName": "Milorad Filipovic <milorad.filipovic19@gmail.com>",
    "personalEmail": "milorad.filipovic19@gmail.com"
  },
  "parentFolderId": null,
  "isArchived": true
}