workflows/gSPg2wDNMjNezrkBeT5NM.json
{
  "id": "gSPg2wDNMjNezrkBeT5NM",
  "name": "Archive empty pages in Notion Database 27",
  "nodes": [
    {
      "parameters": {
        "resource": "database",
        "operation": "getAll",
        "returnAll": true
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Get All Databases",
      "type": "n8n-nodes-base.notion",
      "position": [
        528,
        240
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": "={{$json[\"id\"]}}",
        "returnAll": true,
        "simple": false,
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f23456789012",
      "name": "Get All Database Pages",
      "type": "n8n-nodes-base.notion",
      "position": [
        720,
        240
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "block",
        "operation": "getAll",
        "blockId": "={{$json[\"id\"]}}",
        "returnAll": true
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-345678901234",
      "name": "Get Page Blocks",
      "type": "n8n-nodes-base.notion",
      "position": [
        1472,
        224
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "e5f6a7b8-c9d0-1234-efab-567890123456",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1296,
        224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "archive",
        "pageId": "={{$json[\"pageID\"]}}"
      },
      "id": "a7b8c9d0-e1f2-3456-abcd-789012345678",
      "name": "Archive Page",
      "type": "n8n-nodes-base.notion",
      "position": [
        2048,
        208
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"toDelete\"]}}",
              "value2": true
            }
          ]
        }
      },
      "id": "b8c9d0e1-f2a3-4567-bcde-890123456789",
      "name": "If toDelete",
      "type": "n8n-nodes-base.if",
      "position": [
        1856,
        224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"toDelete\"]}}",
              "value2": true
            }
          ]
        }
      },
      "id": "c9d0e1f2-a3b4-5678-cdef-901234567890",
      "name": "If Empty Properties",
      "type": "n8n-nodes-base.if",
      "position": [
        1056,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 2
            }
          ]
        }
      },
      "id": "d0e1f2a3-b4c5-6789-defa-012345678901",
      "name": "Every day @ 2am",
      "type": "n8n-nodes-base.cron",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "http://www.google.com?new=true&q=foo",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2352,
        272
      ],
      "id": "feeb3fe1-2f49-46e8-a851-ece761e8fc67",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "timeMin": "[DateTime: 2026-01-21T07:45:39.029-05:00]",
        "timeMax": "[DateTime: 2026-01-28T07:45:39.029-05:00]",
        "options": {}
      },
      "id": "62cc6d3d-53cd-43f7-ad59-c556d061b4cd",
      "name": "Get many events",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        2640,
        736
      ]
    },
    {
      "parameters": {
        "propertyId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "dateRange": "custom",
        "startDate": "2026-01-12T00:00:00",
        "metricsGA4": {
          "metricValues": [
            {}
          ]
        },
        "dimensionsGA4": {
          "dimensionValues": [
            {}
          ]
        },
        "additionalFields": {}
      },
      "id": "7da75fc6-6e0d-4790-96c6-04ec4b984690",
      "name": "Get a report",
      "type": "n8n-nodes-base.googleAnalytics",
      "typeVersion": 2,
      "position": [
        2336,
        848
      ]
    },
    {
      "parameters": {
        "resource": "category",
        "color": "#042C2B"
      },
      "id": "1e9c79b7-bf42-47f9-8fb1-83b6c006f6ac",
      "type": "n8n-nodes-base.discourse",
      "name": "Create a category",
      "typeVersion": 1,
      "position": [
        1584,
        736
      ]
    },
    {
      "parameters": {
        "jsonParameters": true,
        "messageJson": "{\n  \"foo\": \"bar\"\n}",
        "additionalFields": {}
      },
      "id": "499b7695-48df-41d5-aa15-05a45f5d8636",
      "name": "Create a message",
      "type": "n8n-nodes-base.googleChat",
      "typeVersion": 1,
      "position": [
        2368,
        688
      ],
      "webhookId": "ab0d8d0b-aefa-4dc3-b656-99a454a6b34d"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>My HTML document</title>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>This is an H1 headinggggg</h1>\n    <h2>This is an H2 heading</h2>\n    <p>This is a paragraph</p>\n  </div>\n</body>\n</html>\n\n<style>\n.container {\n  background-color: #ffffff;\n  text-align: center;\n  padding: 16px;\n  border-radius: 8px;\n}\n\nh1 {\n  color: #ff6d5a;\n  font-size: 24px;\n  font-weight: bold;\n  padding: 8px;\n}\n\nh2 {\n  color: #909399;\n  font-size: 18px;\n  font-weight: bold;\n  padding: 8px;\n}\n</style>\n\n<script>\nconsole.log(\"Hello World!\");\n</script>"
      },
      "id": "91d3d939-1c57-4f63-9fd6-d704a2578cf7",
      "name": "HTML",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1872,
        592
      ]
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "# Loop over input items and add a new field called 'my_new_field' to the JSON of each onerrre\nfor item in _items:\n  item[\"json\"][\"my_new_field\"] = 1\nreturn _items"
      },
      "id": "6d4891da-3e66-4c61-ae44-27a6b4205a26",
      "name": "Code in Python",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        976
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each oneeeee\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "id": "bc1137ac-39c5-4deb-bd91-40f9e49ee4bd",
      "name": "Code in JavaScript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        -64
      ]
    }
  ],
  "connections": {
    "If toDelete": {
      "main": [
        [
          {
            "node": "Archive Page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "Get Page Blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every day @ 2am": {
      "main": [
        [
          {
            "node": "Get All Databases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Page Blocks": {
      "main": [
        [
          {
            "node": "If toDelete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Databases": {
      "main": [
        [
          {
            "node": "Get All Database Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Empty Properties": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Database Pages": {
      "main": [
        [
          {
            "node": "If Empty Properties",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "triggerCount": 0,
  "versionId": "fe4123bb-31fe-4c4f-9e52-ce850ce241b6",
  "owner": {
    "type": "personal",
    "projectId": "4KJl0T0erg4DwK70",
    "projectName": "Milorad Filipovic <milorad.filipovic19@gmail.com>",
    "personalEmail": "milorad.filipovic19@gmail.com"
  },
  "parentFolderId": null,
  "isArchived": true
}