workflows/s9NT4AiOmsuo8oIg.json
{
  "id": "s9NT4AiOmsuo8oIg",
  "name": "My workflow 10",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "2f8a8172-5029-4bb5-9484-6cba21e252f3",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst updatedItems = items.map((item) => {\n  item.json.name = item.json.name.toUpperCase();\n  return item;\n});\nreturn updatedItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        -16
      ],
      "id": "4a925bef-8898-4049-be87-cc22090d2b4d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d7b7b33f-b0f6-4460-a0bf-e046aae6c33d",
              "name": "name",
              "value": "Mrki",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "df17ed8d-d792-4c75-8c8b-5adb565ffc0d",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 0,
  "versionId": "7b00ace3-11cc-4e5f-a74b-c4ea2838055e",
  "owner": {
    "type": "team",
    "teamId": "IAryqYpe37O6pK0M",
    "teamName": "Bag bash"
  },
  "parentFolderId": null,
  "isArchived": false
}