workflows/TuHNI99Lo0Q0XEPT.json
{
  "id": "TuHNI99Lo0Q0XEPT",
  "name": "Assistant payload test",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4c1abbda-52ad-4809-97b6-6a88c421d9a3",
              "name": "firstName",
              "value": "John",
              "type": "string"
            },
            {
              "id": "af2e008d-cde6-45de-b5f1-26576ba463e0",
              "name": "LastName",
              "value": "Doe",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        -96
      ],
      "id": "173cf754-a466-43cf-8b6f-dc627b68d815",
      "name": "Profile data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9bf724d4-e386-450c-ab2d-ede319dd9255",
              "name": "plan",
              "value": "pro",
              "type": "string"
            },
            {
              "id": "4ac2268d-b2a2-4b44-8c9e-d3147d72db76",
              "name": "cardNumber",
              "value": "555-444",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        112
      ],
      "id": "19668227-7277-44b1-a82f-219235c7f269",
      "name": "Account Data"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        464,
        -80
      ],
      "id": "1fd2d8e1-1809-40c5-b21a-3e5832a244bf",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n  console.log('asd')\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        112
      ],
      "id": "bfad58ea-8cbb-4579-a9d2-623b8ebd6bed",
      "name": "Code in JavaScript",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4527de8a-f438-42e5-aa86-c4aa4afb14b9",
              "name": "firstName",
              "value": "={{ $json.firstName }}",
              "type": "string"
            },
            {
              "id": "4fa8e2ed-a934-4684-984d-4fd00f6760bc",
              "name": "LastName",
              "value": "={{ $json.LastName }}",
              "type": "string"
            },
            {
              "id": "5b8abbd4-286e-4702-b3e6-b1cd0623b32c",
              "name": "plan",
              "value": "={{ $json.plan }}",
              "type": "string"
            },
            {
              "id": "c4bfea60-41a8-4cdd-bc18-c0623c4100ea",
              "name": "cardNumber",
              "value": "={{ $('Account Data').item.json.cardNumber }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        -80
      ],
      "id": "80e1b20c-584d-408e-b2d6-ba377fd62f3a",
      "name": "Full Data"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1BAjxEhlUu5tXDCMQcjqjguIZDFuct3FYkdo7flxl3yc",
          "mode": "list",
          "cachedResultName": "Mapping sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BAjxEhlUu5tXDCMQcjqjguIZDFuct3FYkdo7flxl3yc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Users",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BAjxEhlUu5tXDCMQcjqjguIZDFuct3FYkdo7flxl3yc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "12",
            "First name": "asdsad",
            "Last name": "asdas",
            "Username": "asdasd",
            "Address": "asdas",
            "Foo": "asdasd"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "First name",
              "displayName": "First name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last name",
              "displayName": "Last name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Username",
              "displayName": "Username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Foo",
              "displayName": "Foo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        352,
        -304
      ],
      "id": "99bbc06a-e9e8-4185-ba8d-8de1a3094aa2",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "r8LP5YTaICqJWqhT",
          "name": "milorad@n8n.io"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://www.api.com/user= {{ $json.firstName }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        864,
        -80
      ],
      "id": "82aad6b0-a75d-4b8e-88a2-847090af6c8a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "resource": "base",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        608,
        -416
      ],
      "id": "761e8bd4-ca1c-494e-813e-6f85ac7f16ee",
      "name": "Get many bases",
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -80,
        -96
      ],
      "id": "13936e54-52dc-453b-a13a-cb711c3e9a05",
      "name": "Schedule Trigger"
    }
  ],
  "connections": {
    "Profile data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Account Data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Full Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Full Data": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Profile data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Account Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "binaryMode": "separate"
  },
  "triggerCount": 1,
  "versionId": "5daaf6ef-83a5-42d5-8caa-195cc90c5092",
  "owner": {
    "type": "team",
    "teamId": "LjwhckJdOo11JpNi",
    "teamName": "Assistant tests"
  },
  "parentFolderId": null,
  "isArchived": false
}