workflows/yalFC24I5-x3eDvnVix4F.json
{
  "id": "yalFC24I5-x3eDvnVix4F",
  "name": "Archive empty pages in Notion Database 20",
  "nodes": [
    {
      "parameters": {
        "resource": "database",
        "operation": "getAll",
        "returnAll": true
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Get All Databases",
      "type": "n8n-nodes-base.notion",
      "position": [
        664.1366681357961,
        -59.79153524293395
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": "={{$json[\"id\"]}}",
        "returnAll": true,
        "simple": false,
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f23456789012",
      "name": "Get All Database Pages",
      "type": "n8n-nodes-base.notion",
      "position": [
        856.1366681357961,
        -59.79153524293395
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "block",
        "operation": "getAll",
        "blockId": "={{$json[\"id\"]}}",
        "returnAll": true
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-345678901234",
      "name": "Get Page Blocks",
      "type": "n8n-nodes-base.notion",
      "position": [
        1646.062182514755,
        -146.34537245712443
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "functionCode": "let returnData = {\n  json: {\n    toDelete: false,\n    pageID: $node[\"SplitInBatches\"].json[\"id\"],\n  }\n};\n\nif (!items[0].json.id) {\n  returnData.json.toDelete = true;\n  return [returnData];\n}\n\nfor (item of items) {\n  \n  let toDelete = false;\n\n  let type = item.json.type;\n  let data = item.json[type];\n\n  if (!toDelete) {\n    if (data.text.length == 0) {\n      toDelete = true;\n    } else {\n      returnData.json.toDelete = false;\n      break;\n    }\n  }\n\n  returnData.json.toDelete = toDelete;\n}\n\nreturn [returnData];"
      },
      "id": "d4e5f6a7-b8c9-0123-defa-456789012345",
      "name": "Process Blocks",
      "type": "n8n-nodes-base.function",
      "position": [
        1822.062182514756,
        -146.34537245712443
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "e5f6a7b8-c9d0-1234-efab-567890123456",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1470.062182514755,
        -146.34537245712443
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "for (item of items) {\n\n  let toDelete = false;\n  for (const key in item.json.properties) {\n    let type = item.json.properties[key].type;\n    let data = item.json.properties[key][type];\n    \n    if (!data || data.length == 0) {\n      toDelete = true;\n    } else {\n      toDelete = false;\n      break;\n    }\n  }\n\n  item.json.toDelete = toDelete;\n}\n\nreturn items;"
      },
      "id": "f6a7b8c9-d0e1-2345-fabc-678901234567",
      "name": "Check for empty properties",
      "type": "n8n-nodes-base.function",
      "position": [
        1070.0621825147548,
        -130.34537245712426
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "archive",
        "pageId": "={{$json[\"pageID\"]}}"
      },
      "id": "a7b8c9d0-e1f2-3456-abcd-789012345678",
      "name": "Archive Page",
      "type": "n8n-nodes-base.notion",
      "position": [
        2314.544420936211,
        -53.48013619384933
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"toDelete\"]}}",
              "value2": true
            }
          ]
        }
      },
      "id": "b8c9d0e1-f2a3-4567-bcde-890123456789",
      "name": "If toDelete",
      "type": "n8n-nodes-base.if",
      "position": [
        2030.0621825147543,
        -146.34537245712443
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"toDelete\"]}}",
              "value2": true
            }
          ]
        }
      },
      "id": "c9d0e1f2-a3b4-5678-cdef-901234567890",
      "name": "If Empty Properties",
      "type": "n8n-nodes-base.if",
      "position": [
        1230.0621825147548,
        -130.34537245712426
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 2
            }
          ]
        }
      },
      "id": "d0e1f2a3-b4c5-6789-defa-012345678901",
      "name": "Every day @ 2am",
      "type": "n8n-nodes-base.cron",
      "position": [
        299.6323854452844,
        -36.03568387546644
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "If toDelete": {
      "main": [
        [
          {
            "node": "Archive Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Blocks": {
      "main": [
        [
          {
            "node": "If toDelete",
            "type": "main",
            "index": 0
          },
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "Get Page Blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every day @ 2am": {
      "main": [
        [
          {
            "node": "Get All Databases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Page Blocks": {
      "main": [
        [
          {
            "node": "Process Blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Databases": {
      "main": [
        [
          {
            "node": "Get All Database Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Empty Properties": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Database Pages": {
      "main": [
        [
          {
            "node": "Check for empty properties",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for empty properties": {
      "main": [
        [
          {
            "node": "If Empty Properties",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "triggerCount": 0,
  "versionId": "7f9c808c-120a-40cd-82ae-12117c5ab16d",
  "owner": {
    "type": "personal",
    "projectId": "4KJl0T0erg4DwK70",
    "projectName": "Milorad Filipovic <milorad.filipovic19@gmail.com>",
    "personalEmail": "milorad.filipovic19@gmail.com"
  },
  "parentFolderId": null,
  "isArchived": true
}